<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-2">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= t '.title' %></p>
        </header>
        <div class="card-content">
          <%= render "form", taikai: @taikai, participating_dojo: @participating_dojo, team: @team %>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= Participant.model_name.human.pluralize %></p>
        </header>
        <div class="card-content">
          <%= render "participants/list_in_team", taikai: @taikai, participating_dojo: @participating_dojo, team: @team %>
        </div>
      </div>
    </div>
  </div>
</div>
