<% @dojos.each do |dojo| %>
  <div class="dropdown-item" class="list-group-item" role="option" data-autocomplete-value="<%= dojo.id %>" data-autocomplete-label="<%= dojo.name %>">
    <p><%= dojo.name %> / <%= dojo.country_name %></p>
  </div>
<% end %>