<% if @display_tachi %>
<table class="table">
  <tr>
    <th>Participant</th>
    <th colspan="4">Score</th>
  </tr>
  <% @display_tachi.participants.each do |participant| %>
    <tr>
      <td><%= participant.display_name %></td>
      <% participant.score.results.round(@display_tachi.round).each do |result| %>
      <td>
        <% if !result.score.nil? %>
          <%= result.status_code %>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
<% else %>
<% end %>