<div class="content">
  <ul>
    <li><%= link_to "2022", championship_export_path("2022", format: :xlsx) %></li>
    <li><%= link_to "2023", championship_export_path("2023", format: :xlsx) %></li>
    <li><%= link_to "2034", championship_export_path("2024", format: :xlsx) %></li>
  </ul>
</div>