<div class="container">
  <div class="columns">
    <div class="column is-one-third is-offset-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title">Edit Participant</p>
          <%= render "form", taikai: @taikai,
                     participating_dojo: @participating_dojo, participant: @participant %>
        </div>
      </div>
    </div>
  </div>
</div>
