<% marking = participant.marking? %>
<div class="level is-mobile is-centered is-gapless" id="<%= dom_id(participant, :choice) %>">
    <%= link_to update_marking_path(taikai, participant, status: 'hit'),
                class: "button is-small",
                data: { turbo_method: 'post' },
                title: t('.mark_hit') do %>
      <span class="icon is-small">
        <i class="far fa-circle"></i>
      </span>
    <% end if marking%>
    <%= link_to update_marking_path(taikai, participant, status: 'miss'),
                class: "button is-small ml-1",
                data: { turbo_method: 'post', turbo: marking },
                title: t('.mark_missed') do %>
      <span class="icon is-small">
        <i class="fas fa-xmark"></i>
      </span>
    <% end if marking %>
    <%= link_to update_marking_path(taikai, participant, status: 'unknown'),
                class: "button is-small ml-1",
                data: { turbo_method: 'post' },
                title: t('.mark_unknown') do %>
      <span class="icon is-small">
        <i class="fas fa-question"></i>
      </span>
    <% end if marking %>
  </div>
</div>
