<% marking = participant.marking?(match&.id) %>
<div class="level is-mobile is-centered is-gapless" id="<%= dom_id(participant, :choice) %>">
  <% if participant.taikai.scoring_kinteki? && marking %>
    <%= render "choice_kinteki", taikai: taikai, participant: participant, match: match, marking: marking %>
  <% elsif participant.taikai.scoring_enteki? && marking %>
    <%= render "choice_enteki", taikai: taikai, participant: participant, match: match, marking: marking %>
  <% end %>
</div>
