  <% results = results.select { |result| result.match == match } %>
  <div id="<%= dom_id participant, "tally_#{results.first.round}" %>">
    <%= display_round_tally(participant, results) %>
  </div>
