<div id="<%= dom_id participant, results.first.round %>">
  <% results.each do |result| %>
    <a href="#" class="button is-small is-text">
    <% if result.status_hit? %>
    <span class="icon is-small" title="<%= Result.human_enum_value(:status, result.status) %>">
      <i class="far fa-circle"></i>
    </span>
    <% elsif result.status_miss? %>
    <span class="icon is-small" title="<%= Result.human_enum_value(:status, result.status) %>">
      <i class="fas fa-xmark"></i>
    </span>
    <% elsif result.status_unknown? %>
    <span class="icon is-small" title="<%= Result.human_enum_value(:status, result.status) %>">
      <i class="fas fa-question"></i>
    </span>
    <% else %>
    <span class="icon is-small" title="Not yet defined">

    </span>
    <% end %>
    </a>
  <% end %>
  <% if results.count {|r| r.known? } == 4 %>
    <a href="#" class="button is-small is-text">
      <span class="icon is-small" title="Validate round of results">
        <i class="fas fa-check"></i>
      </span>
    </a>
  <% end %>

</div>
