<div class="container">
  <h1 class="title">Marking board - <%= @taikai.name %></h1>
  <table class="table is-narrow is-striped is-bordered">
    <thead>
      <tr class="has-text-centered">
        <th>Dojo</th>
        <% if @taikai.individual? %>
        <th>#</th>
        <% else %>
        <th>Team</th>
        <% end %>
        <th>Name</th>
        <th>Choice</th>
        <% @taikai.num_rounds.times do |index| %>
          <th>Round <%= index + 1 %></th>
          <th></th>
        <% end %>
        <th colspan="<%= @taikai.individual? ? 1 : 2 %>">Score</th>
      </tr>
    </thead>
    <tbody>
      <%= render "participant_lines" %>
    </tbody>
  </table>
</div>