// @charset "utf-8";

// Import a Google Font

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
$beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// $shadow: 0 0.125em 0.25em rgba(235, 14, 14, 0.726);

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

// Bulma 1.0 color overrides - restoring Bulma 0.9.3 defaults
$primary: hsl(171, 100%, 41%);  // turquoise #00d1b2
$link: hsl(229, 53%, 53%);      // blue #485fc7
$info: hsl(207, 55%, 45%);      // custom #3478b1 
$success: hsl(153, 53%, 53%);   // green #48c78e
$warning: hsl(44, 100%, 77%);   // yellow #ffe08a
$danger: hsl(348, 86%, 61%);    // red #f14668
$card-header-background-color: #EFF5FA;
$table-striped-row-even-background-color: hsl(0, 0%, 94%);

@use "bulma/sass" with (
  $primary: hsl(171, 100%, 41%),
  $link: hsl(229, 53%, 53%),
  $info: hsl(207, 55%, 45%),
  $success: hsl(153, 53%, 53%),
  $warning: hsl(44, 100%, 77%),
  $danger: hsl(348, 86%, 61%),
  $card-header-background-color: #EFF5FA,
  $table-striped-row-even-background-color: hsl(0, 0%, 94%)
);

@use "custom.bulma" as *;

// Re-export commonly used variables for custom styles
$size-medium: 1.25rem; // $size-5
$size-6: 1rem;
$grey-light: hsl(221, 14%, 71%);

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
