:root {
    --bulma-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --bulma-family-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --bulma-family-code: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.table.is-bordered th.first, .table.is-bordered td.first {
  border-top-style: double;
  border-top-width: 3pt;
}

form .dropdown {
  width: 100%;

  .dropdown-trigger {
    width: 100%;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.team-title {
  font-size: var(--size-medium, 1.25rem);
  border-bottom: 1px solid var(--grey-light, hsl(221, 14%, 71%));
  margin-bottom: var(--size-6, 1rem);
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

turbo-frame {
  display: block;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 0.1em 1em;
  margin: 1em 0;
}
