.table.is-bordered th.first, .table.is-bordered td.first {
  border-top-style: double;
  border-top-width: 3pt;
}

form .dropdown {
  width: 100%;

  .dropdown-trigger {
    width: 100%;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.team-title {
  font-size: $size-medium;
  border-bottom: 1px solid $grey-light;
  margin-bottom: $size-6;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}