.table.is-bordered th.first, .table.is-bordered td.first {
  border-top-style: double;
  border-top-width: 3pt;
}

form .dropdown {
  width: 100%;

  .dropdown-trigger {
    width: 100%;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}