<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-2">
      <div class="card">
        <div class="card-content">
          <p class="title"><%= t '.title' %></p>
          <%= render "form", taikai: @taikai %>
        </div>
      </div>
    </div>
  </div>
</div>